[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1260030B20A1C995E14F7E61C42000F5-if00

[mcu zmcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_301704012A12354D314B4E00-if00
#adxl pins 5v gnd pb4 a15 a3 b5






[include mainsail.cfg]
[exclude_object]
[include KAMP_Settings.cfg]
[include ./kampConfig/Voron_Purge.cfg]
[include zAxis_Config.cfg]
[include zFans_Config.cfg]
[include zInput_Shaper.cfg]
[include zzled_progress.cfg]
[include zMacros.cfg]


[firmware_retraction]
retract_length: 1
unretract_extra_length: 0.1
retract_speed: 100
unretract_speed: 100




##############################
# Extruder
# https://voron.dozuki.com/Guide/Extruder+Calibration+(ESTEPS)/1
# https://github.com/KevinOConnor/klipper/blob/master/docs/Pressure_Advance.md
##############################

[extruder]
min_extrude_temp: 17
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8

microsteps: 16
full_steps_per_rotation: 200
gear_ratio: 3:1
rotation_distance: 22.782
max_extrude_only_distance:100
max_extrude_cross_section: 5
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_kp: 36.883
pid_ki: 2.561
pid_kd: 132.779

min_temp: 0
max_temp: 260
pressure_advance = 0.0325


#  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: P1.9
#tx_pin:   zmcu:gpio27
interpolate: False
run_current: .8
hold_current: .5
stealthchop_threshold: 0



#[heater_bed]
#heater_pin: P2.5
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: P0.23
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
#min_temp: 0
#max_temp: 260


[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 4000
max_accel_to_decel: 4000
max_z_velocity: 8
max_z_accel: 5

###############################################
##  Probing/Mesh
###############################################

[bltouch]
sensor_pin: P0.10  # Pull-up (^ symbol) needed in open drain mode
control_pin: P2.0
# Some BLTouch V3 and many clones apparently require this, though mine didnt:
pin_up_touch_mode_reports_triggered: False
#flavor: genuine_smart_3.1
x_offset: 55
y_offset: 0
z_offset: 0.607
samples: 2
speed: 2
pin_move_time: 1




#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: 143,135
speed: 200
z_hop: 7
z_hop_speed: 7.0

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead

# Uncomment below for 300mm build
z_positions:
  166,309.5
  274,-27
  1,-27
  #140.69,300.69
  ##285.6,-22.40
  #6.6,-22.4
 
points:
   120, 245
   222, 0
   0, 0
   
speed: 170
horizontal_move_z: 7
retries: 5
retry_tolerance: 0.02

[bed_mesh]
speed: 200
horizontal_move_z: 8
mesh_min: 52,0
mesh_max: 274,267
probe_count: 3,3
fade_start: 1.0
mesh_pps: 2,2

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE ADAPTIV=1

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]
recover_velocity: 100.0







########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.


######################################################################
# MKS Mini 12864Panel v3.x (with neopixel backlight leds)
######################################################################

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
##spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1

[neopixel mks_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 46.603
#*# pid_ki = 4.142
#*# pid_kd = 131.071

[filament_switch_sensor toolhead_sensor]
pause_on_runout: True
runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
insert_gcode:
  REMOVE_FILAMENT
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
switch_pin:!P1.0
#   The pin on which the switch is connected. This parameter must be
#   provided.


